
html, body {
min-height: 100%;
}
body, div, form, input, select, p { 
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
color: rgb(2, 11, 66);
line-height: 22px;

}
body {
    background-color: rgb(68, 192, 182);
}
h1 {
position: absolute;
margin: 0;
font-size: 50px;
color: rgb(158, 147, 45);
z-index: 2;
}
span.required {
color: red;
}
.testbox {
display: flex;
justify-content: center;
align-items: center;
height: inherit;
padding: 20px;
}
form {
width: 100%;
padding: 20px;
border-radius: 6px;
background: rgb(94, 200, 241);
box-shadow: 0 0 30px 0 #125781; 
}
.banner {

position: relative;
height: 200px;
background-image: url(../HTML/habitco.png);
background-size: cover; 
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-trim: 10px;

}
.banner::after {
content: "";
background-color: rgba(0, 0, 0, 0.4); 
position: absolute;
width: 100%;
height: 100%;
}
p.top-info {
margin: 10px 0;
}
input, select {
margin-bottom: 5px;
border: 1px solid rgb(204, 204, 204);
border-radius: 15px;
}
input {
width: calc(51% - 10px);
padding: 5px;
}
select {
width: 5%;
padding: 7px 0;
background: transparent;
}
.item:hover p, .question:hover p, .question label:hover, input:hover::placeholder {
color: #095484;
}
.item input:hover, .item select:hover {
border: 1px solid transparent;
box-shadow: 0 0 5px 0 #095484;
color: #095484;
}
.item {
position: relative;
margin: 10px 0;
}
.question input {
width: auto;
margin: 0;
border-radius: 50%;
}
.question input, .question span {
vertical-align: middle;
}
.question label {
display: inline-block;
margin: 5px 20px 15px 0;
}
.btn-block {
margin-top: 10px;
text-align: center;
}
button {
width: 150px;
padding: 10px;
border: none;
border-radius: 5px; 
background: #095484;
font-size: 16px;
color: #fff;
cursor: pointer;
}
button:hover {
background: #0666a3;
}
@media (min-width: 568px) {
.name-item, .city-item {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.name-item input, .city-item input {
width: calc(50% - 2px);
}
.city-item select {
width: calc(5% - 2px);
}
}


