
select {
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
  }
  
  select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  }
  
  select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
  }
  .select-list {
    --radius: 2em;
    --baseFg: #1b8b6a;
    --baseBg: #b8ecf1;
    --accentFg: #034216;
    --accentBg: #d7df6f;
  }
  
  
  main{
      background-color: #84CEEB;
  }
  
  .logo{
      width: 130px;
      height : 50px;
      position:absolute;
  }
  body {
    font-family: "Lato", sans-serif;
    background-color:#84CEEB;
  
  
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(20, 64, 131);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #000000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: rgb(170, 170, 170);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    background-color:#5680E9
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
    .fakeimg {
      height: 200px;
      /* background: rgb(245, 245, 245); */
    }
    .plant-stage{
  width: 200px;
  height: 200px;
  
    }
  
    h5 , h6 {
  
      display : inline;
    }
  
  
  #calendar_basic{
    width: 950px; height: 350px;
    margin-top: 15px;
    position: relative;
  
    
  }
  
  footer {
  
  background-color: #000000;
  height: 100px;
  text-align: center;
  
  }
  
  
  /*  Barchart for scores
  
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
   .igFrameBar {
       width: 300px;
       height: 400px;
       position: relative;
       background: #f2f2f2;
       margin: 5% auto 0px auto;
      
  }
   .igFrameBar:before {
       content: "";
       width: 100%;
       height: 1px;
       background: #fff;
       position: absolute;
       top: 50%;
  }
   .igFrameBar:after {
       content: "";
       width: 100%;
       height: 50%;
       background: transparent;
       position: absolute;
       top: 25%;
       border-top: 1px solid #fff;
       border-bottom: 1px solid #fff;
  }
   .igData {
       width: 40px;
       position: absolute;
       bottom: 1px;
       margin: 0px 0px 0px 0px;
       z-index: 99;
       float: left;
  }
   .igData1 {
       background: #9baec8;
       height: 0px;
       left: 26.3636363636px;
       -webkit-animation: showBar1 1.2s 0.1s forwards;
       -moz-animation: showBar1 1.2s 0.1s forwards;
       animation: showBar1 1.2s 0.1s forwards;
  }
   .igData2 {
       background: #d9e1e8;
       height: 0px;
       left: 62.7272727273px;
       -webkit-animation: showBar2 1.2s 0.2s forwards;
       -moz-animation: showBar2 1.2s 0.2s forwards;
       animation: showBar2 1.2s 0.2s forwards;
  }
   .igData3 {
       background: #2b90d9;
       height: 0px;
       left: 99.0909090909px;
       -webkit-animation: showBar3 1.2s 0.3s forwards;
       -moz-animation: showBar3 1.2s 0.3s forwards;
       animation: showBar3 1.2s 0.3s forwards;
  }
   .igData4 {
       background: #8ec0e4;
       height: 0px;
       left: 135.4545454545px;
       -webkit-animation: showBar4 1.2s 0.4s forwards;
       -moz-animation: showBar4 1.2s 0.4s forwards;
       animation: showBar4 1.2s 0.4s forwards;
  }
   .igData5 {
       background: #cadbe9;
       height: 0px;
       left: 171.8181818182px;
       -webkit-animation: showBar5 1.2s 0.5s forwards;
       -moz-animation: showBar5 1.2s 0.5s forwards;
       animation: showBar5 1.2s 0.5s forwards;
  }
   .igData6 {
       background: #6aafe6;
       height: 0px;
       left: 208.1818181818px;
       -webkit-animation: showBar6 1.2s 0.6s forwards;
       -moz-animation: showBar6 1.2s 0.6s forwards;
       animation: showBar6 1.2s 0.6s forwards;
  }
   .igData7 {
       background: #d6ecfa;
       height: 0px;
       left: 244.5454545455px;
       -webkit-animation: showBar7 1.2s 0.7s forwards;
       -moz-animation: showBar7 1.2s 0.7s forwards;
       animation: showBar7 1.2s 0.7s forwards;
  }
   
   .igData:before {
       position: absolute;
       top: -16px;
       font-size: 15px;
       color: #333;
       font-family: "roboto";
       font-weight: 300;
  }
   .igData1:before {
       content: 50%;
  }
   .igData2:before {
       content: 40%;
  }
   .igData3:before {
       content: 70%;
  }
   .igData4:before {
       content: 22%;
  }
   .igData5:before {
       content: 35%;
  }
   .igData6:before {
       content: 40%;
  }
   .igData7:before {
       content: 85%;
  }
  
   .igData:after {
       position: absolute;
       bottom: -55px;
       transform: rotate(30deg);
       color: #666;
       font-size: 14px;
       text-align: left;
       font-family: "roboto";
       font-weight: 300;
       width: 150px;
  }
   .igData1:after {
       content: "Monday";
  }
   .igData2:after {
       content: "Tuesday";
  }
   .igData3:after {
       content: "Wednesday";
  }
   .igData4:after {
       content: "Thursday";
  }
   .igData5:after {
       content: "Friday";
  }
   .igData6:after {
       content: "Saturday";
  }
   .igData7:after {
       content: "Sunday";
  }
   
   @-webkit-keyframes showBar1 {
       0% {
           height: 0px;
      }
       100% {
           height: 50%;
      }
  }
   @-webkit-keyframes showBar2 {
       0% {
           height: 0px;
      }
       100% {
           height: 40%;
      }
  }
   @-webkit-keyframes showBar3 {
       0% {
           height: 0px;
      }
       100% {
           height: 70%;
      }
  }
   @-webkit-keyframes showBar4 {
       0% {
           height: 0px;
      }
       100% {
           height: 22%;
      }
  }
   @-webkit-keyframes showBar5 {
       0% {
           height: 0px;
      }
       100% {
           height: 35%;
      }
  }
   @-webkit-keyframes showBar6 {
       0% {
           height: 0px;
      }
       100% {
           height: 40%;
      }
  }
   @-webkit-keyframes showBar7 {
       0% {
           height: 0px;
      }
       100% {
           height: 85%;
      }
  }
   
   @-moz-keyframes showBar1 {
       0% {
           height: 0px;
      }
       100% {
           height: 50%;
      }
  }
   @-moz-keyframes showBar2 {
       0% {
           height: 0px;
      }
       100% {
           height: 40%;
      }
  }
   @-moz-keyframes showBar3 {
       0% {
           height: 0px;
      }
       100% {
           height: 70%;
      }
  }
   @-moz-keyframes showBar4 {
       0% {
           height: 0px;
      }
       100% {
           height: 22%;
      }
  }
   @-moz-keyframes showBar5 {
       0% {
           height: 0px;
      }
       100% {
           height: 35%;
      }
  }
   @-moz-keyframes showBar6 {
       0% {
           height: 0px;
      }
       100% {
           height: 40%;
      }
  }
   @-moz-keyframes showBar7 {
       0% {
           height: 0px;
      }
       100% {
           height: 85%;
      }
  }
   
   @keyframes showBar1 {
       0% {
           height: 0px;
      }
       100% {
           height: 50%;
      }
  }
   @keyframes showBar2 {
       0% {
           height: 0px;
      }
       100% {
           height: 40%;
      }
  }
   @keyframes showBar3 {
       0% {
           height: 0px;
      }
       100% {
           height: 70%;
      }
  }
   @keyframes showBar4 {
       0% {
           height: 0px;
      }
       100% {
           height: 22%;
      }
  }
   @keyframes showBar5 {
       0% {
           height: 0px;
      }
       100% {
           height: 35%;
      }
  }
   @keyframes showBar6 {
       0% {
           height: 0px;
      }
       100% {
           height: 40%;
      }
  }
   @keyframes showBar7 {
       0% {
           height: 0px;
      }
       100% {
           height: 85%;
      }
  }
   
  
  */
  
  
  
  
  
  
    