
select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}
.select-list {
  --radius: 2em;
  --baseFg: #1b8b6a;
  --baseBg: #6cc7ac;
  --accentFg: #1e0252;
  --accentBg: #c6b0eb;
}


main{
	background-color: #84CEEB;
}

.logo{
    width: 130px;
    height : 50px;
    position:absolute;
}
body {
  font-family: "Lato", sans-serif;
  background-color:#84CEEB;


}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(20, 64, 131);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000000;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(170, 170, 170);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background-color:#5680E9
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.fakeimg {
    height: 200px;
    /* background: rgb(245, 245, 245); */
  }
  .plant-stage{
width: 200px;
height: 200px;

  }

  h5 , h6 {

    display : inline;
  }


#calendar_basic{
  width: 950px; height: 350px;
  margin-top: 15px;
  position: relative;

  
}

footer {

background-color: #000000;
height: 100px;
text-align: center;

}

#habit_image{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
	

}

h2{
	color: white;
    font-weight: bold;
    font-size: 24px;
    padding-top: 5px;
    padding: 8px 10px;
    margin-right: 8px;
    background-color: #8860d0;
    border-radius: 8px;
    border: none;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    
    font-family: 'Poppins', 'sans-serif';
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
